<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Igreja.Properties.Settings.BDIgrejaConnectionString"
            connectionString="Data Source=|DataDirectory|\BD\BDIgreja.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>